@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  @apply font-herr_von_muellerhoff text-orange-300 font-semibold text-6xl tracking-widest py-1 text-center
}

h2{
  @apply font-source_sans_pro text-white text-3xl py-1 text-center font-bold
}

h3{
  @apply text-white text-lg font-semibold py-1 text-center
}

p{
  @apply text-white text-center sm:px-6
}
